# Configuration file

dynamic_categorization {
    # Cap for boss mobs. [range: 1 ~ 2147483647, default: 1]
    I:bossMobCap=1

    # Cap for mobs with health above 100. [range: 1 ~ 2147483647, default: 25]
    I:highHealthMobCap=25

    # Cap for named mobs. [range: 1 ~ 2147483647, default: 50]
    I:namedMobCap=50

    # Cap for mobs with health above 250. [range: 1 ~ 2147483647, default: 10]
    I:veryHighHealthMobCap=10
}


general {
    # Version of the config. Set to -1 to prevent auto-wipe on future updates. [range: -1.0 ~ 100.0, default: 3.0]
    S:configVersion=3.0

    # If true, drops from player deaths will ignore the item cap. [default: true]
    B:deathDropProtection=true

    # If true, entities that spawn over the cap will be deleted immediately. [default: false]
    B:deleteEntitiesOverCap=false

    # Format: dimId:cap [default: ]
    S:dimensionItemCaps <
     >

    # Format: dimId:cap [default: ]
    S:dimensionMobCaps <
     >

    # Format: dimId:cap [default: ]
    S:dimensionParticleCaps <
     >

    # Format: modid:entity-maxspawns [default: [minecraft:ender_dragon-1], [minecraft:wither-1]]
    S:exceptions <
        minecraft:ender_dragon-1
        minecraft:wither-1
     >

    # If true, exceptions are treated as a whitelist. If false, as a blacklist. [default: false]
    B:exceptionsAreWhitelist=false

    # Default global item cap. [range: 1 ~ 2147483647, default: 1024]
    I:itemCap=1024

    # Default global mob cap. [range: 1 ~ 2147483647, default: 500]
    I:mobCap=500

    # Format: modid-max [default: ]
    S:modcaps <
     >

    # Default global particle cap. [range: 1 ~ 2147483647, default: 2048]
    I:particleCap=2048
}


